@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    font-family: 'Mukta', sans-serif;
    color: #FFFFFF;
    background-color: #15202B;
    display: flex;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.cabecalho {
    display: flex;
    flex-grow: 3;
    height: 100%;
    justify-content: flex-end;
}
.cabecalho-imagem-div {
    padding: 14px 14px 5px 14px;
    border-radius: 100%;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.cabecalho-imagem-div:hover {
    background-color: rgba(29, 155, 240, 0.1);
    cursor: pointer;
}

.cabecalho-imagem {
    height: 32px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    align-items: flex-start;
    margin: 10px 10px 0 0;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 30px 12px 12px;
    border-radius: 50px;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.menu-item-texto {
    font-size: 22px;
}

.menu-item-icone {
    font-size: 34px !important;
}

.botao-tweetar {
    font-family: 'Mukta', sans-serif;
    color: #FFFFFF;
    background-color: #7856FF;
    border-style: none;
    border-radius: 50px;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.botao-tweetar:hover {
    cursor: pointer;
    background-color: rgb(108, 77, 230);
}

.menu-botao {
    font-size: 20px;
    font-weight: 700;
    margin-top: 16px;
    width: 225px;
    height: 52px;
}


.selected {
    font-weight: 700;
}

.principal {
    flex-grow: 5;
    display: flex;
    margin-top: 10px;
}

.titulo {
    padding: 0 14px;
}

.tweets {
    flex-grow: 5;
    border-left: 0.1px solid gray;
    border-right: 0.1px solid gray;
}

.novo-tweet {
    padding: 10px 14px 0px 14px;
    display: flex;
}

.imagem-circular {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.novo-tweet-imagem {
    margin-right: 12px;
    padding-top: 4px;
}

.novo-tweet-imagem-perfil {
    height: 50px;
}

.novo-tweet-edicao {
    width: 100%;
}

.novo-tweet-icone {
    color: #7856FF;
}

.novo-tweet-edicao-input-div {
    padding: 12px 0px;
}

.novo-tweet-edicao-input {
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    width: 100%;
    word-break: break-all;
    resize: none;
    overflow-wrap: break-word;
}

.novo-tweet-edicao-input:focus {
    outline: none;
    color: white;
}

.novo-tweet-edicao-input::-webkit-input-placeholder {
    color: rgb(116, 116, 116, 1.0);
}

.novo-tweet-opcoes {
    display: flex;
}

.novo-tweet-icones {
    display: flex;
    gap: 10px;
}

.novo-tweet-botao-div {
    display: flex;
    width: 100%;
    justify-content: end;
}

.novo-tweet-botao {
    font-size: 17px;
    font-weight: 700;
    width: 90px;
    height: 36px;
    margin-left: 12px;
}

.novo-tweet-botao:disabled {
    opacity: 0.5;
    cursor: default;
}

.novo-tweet-botao:disabled:hover {
    background-color: #7856FF;
}

.trending {
    flex-grow: 4;
}